    <div class="particles-bg">
    <div class="bg-particle" *ngFor="let i of [1,2,3,4]"></div>
    </div>

    <!-- HEADER -->
    <header class="header">
    <div class="header-left">
        <div class="logo">
        <img 
            src="https://tse4.mm.bing.net/th/id/OIP.DqzAYevLmA0BnSvWkDiMsQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3"
            alt="AGIL Logo"
            class="logo-img"
        />
        <div>
            <div class="company-title">AGIL Energy</div>
            <div class="company-subtitle">
            Société Nationale de Distribution des Pétroles
            </div>
        </div>
        </div>
    </div>

    <div class="header-right">
        <div class="user-info">
        <div class="user-avatar">
            {{ Nom.charAt(0) }}{{ Prenom.charAt(0) }}
        </div>
        <div class="user-details">
            <h3>{{ Nom }} {{ Prenom }}</h3>
            <p>{{ role }}</p>
        </div>
        </div>

        <button class="logout-btn" (click)="logout()">
        ⏻ Déconnexion
        </button>
    </div>
    </header>